.form-control {
  width: 100%;
  margin-top: 2em !important;
}

.textarea {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px;
  border-radius: 12px 12px 0 12px;
  color: #24292f;
  background: #ffffff;
  border: 1px solid #d0d7de;
  box-shadow: 0px 2px 2px #f6f8fa;
}

.button {
  margin-bottom: 1em;
  font-size: 0.875rem;
  line-height: 1.5;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 150ms ease;
  border: none;
}

.button-primary {
  background-color: #007FFF;
  margin-top: 2em;
}

.button-secondary{
  background-color: #AB47BC;
}

.loading-gif-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 4em;
}

.recaptcha-disclosure {
  text-align: end;
  margin-top: 0.5em;
  color: #a9a9a9;
}

.recaptcha-disclosure-link {
  color: #1976d280;
}
